body {
    background-color: #fff;
    font-family: sans-serif;
    color: #fff;
}
.card {
    background-color: #6ac;
    text-align: center;
    width: 300px;
    margin: auto;
    margin-top: 20px;
    padding: 20px 10px;
    box-shadow: 0px 0px 35px#0006;
    border-radius: 8px;
}

.red_card{
    background-color: rgb(209, 86, 86);
}

.green_card{
    background-color: rgb(102, 207, 102);
}

.yellow_card{
    background-color: rgb(226, 226, 71);
}

.card_title { 
    font-size: 22px;
    margin: 0;
}

.card_subtitle { 
    font-size: 13px;
    font-weight: 100;
    letter-spacing: 1px;
    margin: 0;
    margin-top: 5px;
}

.card_content {
    font-size: 9px;
    padding: 10px;
    padding-bottom: 0;
    text-align: justify;
    margin-bottom: 0;
}

.card_img{
    width: 100px;
    border-radius: 7px;
}