body {
    margin: 0;
    font-family: sans-serif;
    color: #ddd;
    background: linear-gradient(to bottom, #222, #111);
}

h2 {
    text-align: center;
    margin: 0;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: 100;
    font-size: 22px;
    padding: 10px;
}

form {
    background-color: transparent;
    padding: 20px 0; 
    max-width: 500px;
    margin: auto;
    box-shadow: 0px 0px 55px #fff2;
    margin-top: 50px;
    border-radius: 8px;
    margin-bottom: 40px;
}

.form_input {
    padding: 10px 20px;

}

input, textarea, select {
    width: 100%;
    box-sizing: border-box;
    padding: 6px 8px;
    border: none;
    border: 1px solid #4f9;
    box-shadow: 0px 0px 15px #0003;
    background-color: transparent;
    border-radius: 4px;
    color: #ddd;
}

option {
    background-color: #222;
}

textarea {
    min-width: 100%;
    resize: none;
    font-family: sans-serif;
    /* form-sizing: content; todavia no disponible, adapta el cuadro mientras escribís*/
}

label {
    font-size: 0.88em;
    line-height: 2;
}

.checkbox {
    width: auto;
    height: 10px;
}

fieldset{
    border-radius: 5px;
    border: 1px solid #ddd6;
    padding: 8px 6px 20px 6px;
    margin: 20px;
}

legend{
    padding: 0 6px;
    color: #777;
}

a{
    color: #69f;
    text-decoration: none;
}

.fancy-button {
    display: block;
    width: 200px;
    position: relative;
    left: 20px;
    transition: color .3s;
}

.fancy-button::before{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: #4f9;
    z-index: -1;

    left: 100%;
    width: 0;
    transition: .3s;

}

.fancy-button:hover{
    color: #222;
}

.fancy-button:hover::before{
    left: 0;
    width: 100%;
    transition: width .3s;
}