body {
    margin: 0;
    background-color: #ccc;
    font-family: sans-serif;

}

.contenedor {
    border: 2px solid #000;
    margin: 20px;
    background-color: #fff;
    position: relative;
}

.box {
    width: 100px;
    height: 100px;
    background-color: #da3;
    color: #fff;
    /* position: relative; */
}

.box--blue {
    background-color: #46e;
    position:absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    margin: auto;
    /* left: 20px;
    top: 70px;
    z-index: 10; */
}

.box--red {
    /* top: 150px;
    left: 40px; */
    background-color: #f64;
    /* z-index: 20; */
}